<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no" prefix="og: http://ogp.me/ns#" data-desktop>
<head>
   <meta charset="UTF-8"/>

   <title>E-learning Quran and Hadith</title>
   <meta content="Center of the Quran and Hadith Hazrat Fatima Masumah Sacred Sanctuary" name="description"/>
 <!--[if IE]>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<![endif]-->
   <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.1, user-scalable=0" name="viewport"/>
   <meta content="https://qhkarimeh.com" name="site:root"/>
   <meta content="summary" name="twitter:card"/>
   <meta content="home" name="twitter:title"/>
   <meta content="Center of the Quran and Hadith Hazrat Fatima Masumah Sacred Sanctuary" name="twitter:description"/>
   <meta content="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png?v=2" name="twitter:image"/>
   <meta content="@jibres_com" name="twitter:site"/>
   <meta content="@jibres_com" name="twitter:creator"/>
   <meta content="https://qhkarimeh.com/" name="twitter:url"/>
   <meta content="website" property="og:type"/>
   <meta content="home" property="og:title"/>
   <meta content="Center of the Quran and Hadith Hazrat Fatima Masumah Sacred Sanctuary" property="og:description"/>
   <meta content="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png?v=2" property="og:image"/>
   <meta content="https://qhkarimeh.com/" property="og:url"/>
   <meta content="E-learning Quran and Hadith" property="og:site_name"/>
   <meta content='en' property='og:locale'/>
   <meta content="https://qhkarimeh.com/" name="jibres:sitelang"/>
   <meta content="https://core.jibres.ir/" name="jibres:core"/>
   <meta content="https://api.jibres.ir/" name="jibres:api"/>
   <meta content="https://cdn.jibres.ir/" name="jibres:cdn"/>
   <meta content="index, follow" name="robots"/>
   <meta content="yes" name="mobile-web-app-capable"/>
   <meta content="yes" name="apple-touch-fullscreen"/>
   <meta content="yes" name="apple-mobile-web-app-capable"/>
   <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
   <meta content="#c80a5a" name="theme-color"/>
   <meta content="#c80a5a" name="msapplication-TileColor">
   <meta content="E-learning Quran and Hadith" name="application-name"/>
   <meta content="E-learning Quran and Hadith" name="apple-mobile-web-app-title"/>
   <meta content="Jibres" name="generator"/>
   <link href="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png?v=1" type="image/png" rel="icon"/>
   <link href="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png?v=1" rel="shortcut icon"/>
   <link href="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png?v=1" rel="apple-touch-startup-image"/>
   <link href="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png?v=1" sizes="180x180" rel="apple-touch-icon"/>
   <link href="https://qhkarimeh.com/manifest.webmanifest" rel="manifest"/>
   <link href=https://cdn.jibres.ir/css/magic-v1.css?1634824660 rel="stylesheet"/>
   <link href=https://cdn.jibres.ir/css/magic-migrate-v1.css?1634482394 rel="stylesheet"/>
</head>
<body data-env='jb2f9' data-in='business' data-page='home' data-preload>
   <body data-env="jb2f9" data-in="business" data-page="home"><audio class="audio-for-speech" src=""></audio><div class="translate-tooltip-mtz hidden">
                    <div class="header">
                        <div class="header-controls">
                            Translator
                        </div>
                        <div class="header-controls">
                            <span class="settings"></span>
                        </div>
                    </div>
                    <div class="translated-text">
                        <div class="words"></div>
                        <div class="sentences"></div>
                    </div>
                </div><span class="translate-button-mtz hidden"></span>
 <header id="pageHeader" data-xhr="pageHeader" data-scroll=""><div class="desktop"><header id="jHeader3" class="relative py-5"><div class="m-auto w-full"><div class="actionBar flex items-center p-1 sm:p-2 md:p-3 bg-gray-50 rounded shadow-inner"><a href="https://qhkarimeh.com" class="flex-1 flex items-center"><img class="inline-block w-16 h-16 rounded" src="https://cloud.talambar.ir/jb2f9/202106/57-e8bc987fea27d94b145cec18dd946392.png" alt="E-learning Quran and Hadith"><h1 class="inline-block px-2 text-2xl font-bold">E-learning Quran and Hadith</h1></a><a class="h-12 w-12 p-3 mx-1 bg-gray-50 rounded-full relative transition hover:shadow-sm" href="https://qhkarimeh.com/search"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 8c0-3.309 2.691-6 6-6s6 2.691 6 6-2.691 6-6 6-6-2.691-6-6zm17.707 10.293l-5.395-5.396A7.946 7.946 0 0016 8c0-4.411-3.589-8-8-8S0 3.589 0 8s3.589 8 8 8a7.954 7.954 0 004.897-1.688l5.396 5.395A.998.998 0 0020 19a1 1 0 00-.293-.707z" fill="#5C5F62"></path></svg>
</a></div><div class="menuBar flex items-center bg-gray-50 rounded shadow-inner mt-2"><div class="flex-1"></div><nav><ul class="flex"><li data-layer="1" data-key="33"><a class="block p-1 sm:p-2 md:p-3 bg-gray-200 bg-opacity-0 hover:bg-opacity-70 transition" href="https://qhkarimeh.com/f/11">Sign Up</a></li><li data-layer="1" data-key="34"><a target="_blank" class="block p-1 sm:p-2 md:p-3 bg-gray-200 bg-opacity-0 hover:bg-opacity-70 transition" href="https://qhkarimeh.com/n/BB?preview=6abb2e957c69b8faac0943c81d761c9e">Donate</a></li></ul></nav></div></div></header></div><div class="pwa"><img class="logo" alt="E-learning Quran and Hadith" src="https://cloud.talambar.ir/jb2f9/202104/6-0ef228c40ac83dc9b3b32edd54c8210e.png"><div class="title">E-learning Quran and Hadith</div></div></header>
 <aside id="sidebar" data-xhr="sidebar"></aside>
 <main id="pageContent" data-xhr="pageContent"><section data-type="headline1" class="flex overflow-hidden relative min-h-1/2 flex-wrap content-center justify-start" style="background-image:url(https://cloud.talambar.ir/jb2f9/202109/95-79e539def1e651b8665eaa3a0c7cd71e.jpg);background-repeat:repeat;background-attachment:fixed;background-position:center;background-size:cover;" id="headline1-35"><div class="w-full h-full absolute" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))"></div><div class="sm:max-w-xl p-5 md:p-10 lg:p-14 z-10"><h2 class="text-2xl sm:text-3xl md:text-4xl leading-normal sm:md:leading-normal md:leading-normal mb-2 sm:mb-4 md:mb-6" style="color:#ffffff">E-learning Quran and Hadith</h2><div class="text-sm sm:text-base" style="color:#ffffff">Center of the Quran and Hadith Hazrat Fatima Masumah Sacred Sanctuary</div></div></section><section data-type="headline1" class="flex overflow-hidden relative min-h-1/2 flex-wrap content-center justify-start" style="background-image:url(https://cloud.talambar.ir/jb2f9/202109/109-babe43dccb310880f0345739bd4944ca.jpg);background-repeat:repeat;background-attachment:fixed;background-position:center;background-size:cover;" id="headline1-36"><div class="sm:max-w-xl p-5 md:p-10 lg:p-14 z-10"><h2 class="text-2xl sm:text-3xl md:text-4xl leading-normal sm:md:leading-normal md:leading-normal mb-2 sm:mb-4 md:mb-6" style="color:#ffffff">Holy Shrine of Hazrat Masoomeh</h2><div class="text-sm sm:text-base" style="color:#ffffff"></div></div></section>
 </main>

 <div class="js">
  <script async="" src="https://cdn.jibres.ir/js/jibres.min.js?1634482394"></script>

 <link rel="stylesheet" href="https://cdn.jibres.ir/lib/swiper/7.0.1/swiper-bundle.min.css?v=1"><script async="" src="https://cdn.jibres.ir/lib/swiper/7.0.1/swiper-bundle.min.js?v=1"></script></div>

</body>
<div class="js">
  <script async src="https://cdn.jibres.ir/js/jibres.min.js?1634482394">
  </script>

</div>
</body>
</html>